            <div class="course">
              <a class="thumb"  href="{{siteUrl}}library/{{slug}}" bg="{{color}}">
                <div class="thumb-img" bg="{{color}}" style="background-image: url(/uploads/courses/{{image}})"></div>
                <h2 class="name"><span>{{title}}</span></h2>
              </a>
              <div class="inner">
                <ul>
                  <li class="description">{{description}}</li>
                  <li class="author">by <a href="{{siteUrl}}lecturers/{{users.id}}">{{users.first_name}} {{users.last_name}}</a></li>
                  <li class="level">Level: {{level}}</li>
                </ul>
              </div>
            </div>