            <div class="course">
              <a class="thumb"  href="{{courseURL}}" bg="{{bg}}">
                <div class="thumb-img" bg="{{bg}}" style="background-image: url(uploads/{{img}})"></div>
                <h2 class="name"><span>{{name}}</span></h2>
              </a>
              <div class="inner">
                <ul>
                  <li class="description">{{description}}</li>
                  <li class="author">by <a href="{{authorURL}}">{{author}}</a></li>
                  <li class="level">Level: {{level}}</li>
                </ul>
              </div>
            </div>