<!DOCTYPE html>
<html lang="en">
	<head>
	{{> sections/head}}
	</head>
	<body style="color: #555554; background: #dddddc;">
		<div id="central-message" style="text-align: center; position: absolute; width: 100%; transform: translateY(-50%) translateX(-50%); left: 50%; top: 50%; display: inline-block; padding: 4em;">
			<h1 style="font-size: 48px;display: inline-flex;vertical-align: middle;">
				<span style="font-size: 108px;display: inline-flex;font-weight: 800;padding-right: 30px;border-right: 5px solid;margin-right: 30px;">403</span>
				<span style="font-weight: 400; padding-top: 10px; text-align: left; ">You're not authorised<br>to access that content</span>
			</h1>
		</div>
    </body>
</html>