<!DOCTYPE html>
<html lang="en">
  <head>
  {{> sections/head}}
  </head>
  <body>
    {{> sections/header}}
    <div id="courses">
      <div class="container">
        <h1 class="punchline">{{title}}</h1>
        {{>components/lecturer-info}}
        <div class="row">
          <div class="col-md-9">
            <div id="course-video">
              <div class="video-wrapper">
                <iframe src="https://www.youtube.com/embed/{{video}}?modestbranding=1" frameborder="0" allowfullscreen></iframe>
                <!-- <iframe src="https://www.youtube.com/embed/UW_oXEksqh8" frameborder="0" allowfullscreen></iframe> -->
              </div>
            </div>
            <a href="#" class="btn btn-primary btn-lg">Enroll course</a>
          </div>
          <div class="col-md-3">
          <h3 class="h6 title">Course contents</h3>          
            <ul class="lessions">
              {{#lessions}}
              <li><a href="{{siteUrl}}library/{{slug}}/{{lession_slug}}">{{title}}</a></li>
              {{/lessions}}
            </ul>          
          </div>
        </div>
      </div>
    </div>   
    {{> sections/scripts}}
  </body>
</html>