<!DOCTYPE html>
<html lang="en">
  <head>
  {{> sections/head}}
  </head>
  <body>
    {{> sections/header}}
    <div id="courses">
      <div class="container">
        <h1 class="punchline">Browse our courses...</h1>
        <div class="row">
          {{#courses}}
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="course">
              <a class="thumb"  href="{{courseURL}}" bg="{{bg}}">
                <div class="thumb-img" bg="{{bg}}" style="background-image: url(uploads/{{img}})"></div>
                <h2 class="name"><span>{{name}}</span></h2>
              </a>
              <div class="inner">
                <ul>
                  <li class="description">{{description}}</li>
                  <li class="author">by <a href="{{authorURL}}">{{author}}</a></li>
                  <li class="level">Level: {{level}}</li>
                </ul>
              </div>
            </div>
          </div>
          {{/courses}}
        </div>
      </div>
    </div>   
    {{> sections/scripts}}
  </body>
</html>