<!DOCTYPE html>
<html lang="en">
  <head>
  {{> sections/head}}
  </head>
  <body>
    {{> sections/header}}
    <div id="courses">
      <div class="container">
        <div class="lectuerer-info row">
          <div class="col-sm-6 col-lg-4">
            <img class="user-image" src="{{siteUrl}}uploads/users/{{image}}" alt="">
          </div>
          <div class="col-sm-6 col-lg-8">
            <h1 class="punchline">{{first_name}} {{last_name}}</h1>
            <div class="description">{{description}}</div>
          </div>
        </div>
        <h2 class="lecturer-courses">Courses by {{first_name}}</h2>
        <div class="row">
          {{#courses}}
          <div class="col-sm-6 col-md-4 col-lg-3">
            {{> components/course}}
          </div>
          {{/courses}}
        </div>
      </div>
    </div>   
    {{> sections/scripts}}
  </body>
</html>