<!DOCTYPE html>
<html lang="en">
  <head>
  {{> sections/head}}
  </head>
  <body>
    {{> sections/header}}
    <div id="courses">
      <div class="container">
        <h1 class="h3 punchline">Create course</h1>
        <form action="#" action="" method="POST">
          <div id="edit-panel">
            <div id="main-panel">
              <div class="form-group form-group-title">
                <input type="text" class="form-control form-control-lg" id="title" name="title" aria-describedby="couseTitle" placeholder="Title" v-model="name">
                <small id="couseTitle" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group form-group-title">
                <input type="text" class="form-control form-control-sm" id="slug" name="slug" v-model="slug" v-on:blur="slugBlur">
              </div>
              <div class="form-section-meta">
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea class="form-control" id="description" name="description" aria-describedby="couseTitle" placeholder="Short description" rows="3" v-model="description"></textarea>
                </div>
                <div class="form-group">
                  <label for="level">Pick level</label>
                  <select class="form-control" name="level" id="level" v-model="level">
                    <option value="0">Beginner</option>
                    <option value="1">Intermediate</option>
                    <option value="2">Advanced</option>
                  </select>                  
                </div>
                <div class="form-group">
                  <div class="grid">
                    <div class="col-1">
                      <label for="color">Pick color</label>
                      <select class="form-control" name="color" id="color" v-model="bg">
                        <option value="default">Default</option>
                        <option value="yellow">Yellow</option>
                        <option value="orange">Orange</option>
                        <option value="red">Red</option>
                        <option value="violet">Violet</option>
                        <option value="green">Green</option>
                        <option value="cyan">Cyan</option>
                        <option value="blue">Blue</option>
                      </select>
                    </div>
                    <div class="col-1">
                      <label for="img">Image</label>
                      <input type="text" class="form-control" id="img" name="img" aria-describedby="couseTitle" placeholder="Select image" v-model="img">
                    </div>
                  </div>
                </div>
                <div class="form-group">                
                </div>
              </div>
            </div>
            <div id="side-panel">
              <div class="buttons">
                <input type="submit" class="btn btn-primary btn-alt btn-lg" value="Create">
                <a href="#" class="btn btn-primary btn-lg" v-on:click="logSlug">Publish</a>
              </div>
              <h2 class="h5 title">Thumbnail preview</h2>
              {{=<% %>=}}
              <div id="preview" v-cloak>
                <div class="course">
                  <a class="thumb"  href="{{courseURL}}" bg="{{bg}}" v-bind:bg="bg">
                    <div class="thumb-img" bg="{{bg}}" v-bind:bg="bg" style="background-image: url(/uploads/{{img}})" v-bind:style="{'background-image': getImg()}"></div>
                    <h2 class="name"><span>{{name || nameDefault}}</span></h2>
                  </a>
                  <div class="inner">
                    <ul>
                      <li class="description">{{description||descDefault}}</li>
                      <li class="author">by <a href="{{authorURL}}">{{author}}</a></li>
                      <li class="level">Level: {{levels[level]}}</li>
                    </ul>
                  </div>
                </div>
              </div>
              <%={{ }}=%>
            </div>
          </div>
        </form>
      </div>
    </div>   
    {{> sections/scripts}}    
  </body>
  <script>
    var memo = function(fn){
      var args = Array(fn.length);
      return function Replace(){
        var replace = Array.prototype.slice.call(arguments);
        args = args.concat(replace).slice(replace.length);
        return fn.apply(null, args);
      };
    };

    var makeSlug = function(name){
      return name.trim().toLowerCase().replace(/ /g,'-').replace(/[^\w-]+/g,'');
    }
    var app = new Vue({
      el: '#edit-panel',
      data: {
        levels : ['Beginner', 'Intermediate', 'Advanced'],
        name : '',
        nameDefault : 'Sample course',
        author : 'You',
        overrideSlug : false,
        description : '',
        descDefault : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        bg : 'default',
        img :"",
        courseURL : '#',
        level : 0
      },
      methods:{
        getImg : function(img){
          return 'url(/uploads/' + (this.img || "laravel.png") + ')';
        },
        logSlug: function(){
          console.log(slug.value);
          return false;
        },
        slugBlur : function(e){
          console.log(this.overrideSlug, this.autoslug, this.overrideSlug);
          if(e.target.value === this.autoslug || e.target.value === ''){
            this.overrideSlug = false;
          } else {
            this.overrideSlug = makeSlug(e.target.value);
            return this.overrideSlug;
          }
        }        
      },
      computed: {
        'autoslug' : function(){
          return makeSlug(this.name);
        },
        'slug' : function(e){
          this.slugBlur;   
          return this.overrideSlug ? this.overrideSlug : this.autoslug;
        }
      }
    });
  </script>
</html>