@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

@primary : #3a5d71;
@primary : #16a085;
@primary : #d14841;
@alt: #2980b9;
@s: #475577;
@secondary: @s - #0b0b0b;
@light: #ecf0f1;
@default: #2c3e50 + #0b0b0b;
@yellow: #FBA026;
@orange: #F37934;
@red: #EB6B56;
@violet: #9365B8;
@green: #41A85F;
@cyan: #2C82C9;
@blue: #2969B0;

@xs : 0;
@sm : 544px;	
@md : 768px;
@lg : 992px;
@xl : 1200px;

.clearfix{
	&:after {
	    content:" ";
	    display:table;
	    clear:both;
	}
}

.media-max(@s, @content){
	@media (max-width: @s){
		@content();
	}
}
.media-min(@s, @content){
	@media (min-width: @s){
		@content();
	}	
}


// .media(@s, @content) when ( @@s > 0 ){
	
// }
// .media(@s1, @s2, @content) when (@arguments > 2 ) and (@s1 = '='){
	
// }

// .media(@s1, @s2, @content) when (@arguments > 2 ) and (@s2 = '='){
	
// }

.thumb-color(@color){
	background-color: @color - #333 !important;
	& > & {
		background-color: @color !important;		
	}
	.name{ 
		background:@color - #222;
		color:@color - #222;
	}	
}

*{
	&[bg="default"]{ .thumb-color(@default); }
	&[bg="red"]{ .thumb-color(@red); }
	&[bg="yellow"]{ .thumb-color(@yellow); }
	&[bg="orange"]{ .thumb-color(@orange); }
	&[bg="violet"]{ .thumb-color(@violet); }
	&[bg="green"]{ .thumb-color(@green); }
	&[bg="cyan"]{ .thumb-color(@cyan); }
	&[bg="blue"]{ .thumb-color(@blue); }
}

body, *{
	font-family: Ubuntu, sans serif;
	color: #555;
}

a{
	color: @cyan;
	&:hover{
		color: @blue;
	}
}

ul{
	margin: 0;
	padding: 0;

	li{
		list-style-type: none;
	}
}


#header{
	position: fixed;
	width: 100%; top: 0;
	background: @primary;
	padding: 18px 0;
	z-index: 1;
	&+*{
		margin-top: 60px;
	}
	a{
		color: white;
		text-decoration: none;
		&:hover{
			opacity: .6666;
		}
	}
	nav{
		text-align: right;
	}
	li{
		list-style-type: none;
		display: inline-block;
		padding-left: 40px;
		height: 25px;
		line-height: 25px;
	}
}

.logo, .navigation{
	height: 25px;
}

.punchline{
	margin: 0;
	padding: 30px 0;
    letter-spacing: -0.03em;
}
#logo{
	display: block;
	width: 145px;
	height: 25px;
	background: url(../img/logo.svg) no-repeat center;
	opacity: 1 !important;
	transition: all .2s;
	&:hover{
		background-image: url(../img/logo_hover.svg);
	}

}

h1,h2,h3,h4,h5,h6{
	&.title{
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 1em;
	}
}
#course-video{
	margin-bottom: 40px;
}
#courses{
	background: @light;
	// padding-top: 30px;
	padding-bottom: 40px;
	.course{
	    border-radius: 3px;
	    overflow: hidden;
		background: white;	    
	    box-shadow: 2px 4px 5px fade(black, 8);
	    margin-bottom: 30px;
	    .media-max(@sm - 1, {
	    	margin-bottom: 17px;	
	    });
	    
	    .inner{
	    	padding: 20px;
	    }
	    .thumb{
	    	position: relative;
			height: 8em;
	    	display: block;
	    	text-decoration: none;
	    	padding: 0 0.5em;
	    	&:hover .thumb-img{
				opacity: 1;
	    	}
	    }
		.thumb-img{
			position: absolute;
			top: 0; left: 0;
			height: 8em; width: 100%;
			background: @green right center;
	    	opacity: .8;
			transform: translateZ(0);
		}
		.name{
			position: relative;
			display: inline;
			// color: white;
			font-size: 23px;
			font-weight: 400;
		    line-height: 1.45em;		    
		    padding: 0.175em 0 .275em;
			box-shadow: -0.375em 0, 0.325em 0;
			text-decoration: none;
			transform: translateZ(0);
			> *{
				color: white;
			}
		}
		// .name{
		// 	transition: background, box-shadow .3s;
		// }
		.thumb-img{
	    	transition: opacity .3s;
		}

		.description{
			min-height: 4 * 1.6em;
			line-height: 1.25em;
			padding: 0;
		}
		li{
			line-height: 1em;
			padding-top: 10px;
		}
		a{
			text-decoration: none;
		}
	}
}
ul.lessions{
	li{
		padding-left: .5em;
	    line-height: 1.25em;
	    padding: 0 0 7px;
	    & + li{
	    	padding-top: 5px;
			border-top: 1px solid #ccc;
	    }
	    a{
	    	text-decoration: none;
	    }
	}
}
.video-wrapper{
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
	iframe{
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		width: 100%; height: 100%;
	}
}
#btn(@c){
	outline: 0 none;
	&, &:focus{
		background: @c;
		border-color: @c - #181818;
	}
	&:hover{
		background: @c - #0b0b0b;
		border-color: @c - #1b1b1b;
	}
	&:active{
		border: 0 none;
		margin-top: .2em;
		background: @c - #111 !important;
	}
}

.btn-primary{
	border: 0 none;
	border-bottom: .2em solid;
	#btn(@secondary);
}

.btn-alt{
	#btn(@alt);
}

#main-panel, #side-panel{
	clear: both;
	padding-bottom: 15px;
}

.media-min(@md, {
	#edit-panel{
		width: 100%;
		padding-right: 300px;
	}
	#main-panel{
		float: left;
		width: 100%;
	}
	#side-panel{
		float: left;
		clear: none;
		width: 300px;
		margin-right: -300px;
		padding-left: 30px;
		// text-align: right;
	}
});

	.buttons{
		.clearfix;
		padding-bottom: 30px;
		text-align: right;
		.btn{
			display: block;
			float: left;
			// width: 130px;
			width: auto;
			+ .btn{
				margin-left: 10px;
			}
		}
	}

.form-group-meta{
	max-width: 600px;
}

.grid{
	.clearfix;
	margin: 0 -7.5px;
	.col-1{
		float: left;
		width: 50%;
		padding: 0 7.5px;
	}
}
label{
	font-weight: 700;
	color: #666;
}

select#color{
	text-transform: capitalize;
}

.lessions-table{
	td, th{
		border-top: 1px solid #ccc;
		vertical-align: middle;
	}
	.table-detail{
		font-size: 13px;
		color: #666;
	}
	.edit{
		display: inline-block;
		width: 32px; height: 32px;
		background: no-repeat url(../img/edit.svg) center;
		transition: background .2s;
		content: url();
		&:hover{
			background-image: url(../img/edit-active.svg);
		}
	}
	.thead-inverse th{
		background-color: #1168a1;
		border: 0 none;
	}
}

.sortable{
	> * {
	cursor: move;
	}
	.sortable-chosen{
		background: fade(black, 3);
	}
	.sortable-ghost {
	    opacity: 0.4;
	    background-color: fade(#f1c40f, 15%)
	}
}